ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

body {
    font-family: "roboto", roboto-serif;
}

:root {
    --heder-color: #212121;
}

button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid #ECECEC;*/
}

img {
    display: block;
}

/*-----------верхняя линяя-------------*/

.header {
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
}

.heder-list {
    display: flex;
}

.heder-logo {
    display: flex;
    left: 215px;
    position: absolute;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.heder-item:not(:last-child) {

    margin-right: 50px;
    padding: 32px 0px;
}

.studio {

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.heder-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--heder-color);
}

.heder-link:hover {
    color: #2196F3;
}

.heder-link:focus {
    color: #2196F3;
}

.heder-contacs {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.heder-contacs-tel,
.heder-contacs-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;

}

.heder-contacs-tel:hover,
.heder-contacs-mail:hover {
    color: #2196F3;
}

.heder-contacs-tel:focus,
.heder-contacs-mail:focus {
    color: #2196F3
}

.heder-contact-item {

    margin-right: 50px;
}

/*----------шапка--------------*/
.advertising {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;

}

.advertising-name {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF
}

.color-btn {
    min-width: 200;
    height: 50;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    margin: 0 auto;
    display: block;
}

.color-btn:hover {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*-------особенности--------------*/
.chip {
    padding-top: 95px;
    padding-bottom: 95px;
}

.chip-list {
    display: flex;
}

.chip-name {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heder-color);
    margin-bottom: 10px;
}

.chip-par {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
}

/*---------чем мы занимаемся-------*/
.work {
    padding-bottom: 95px;
}

.work-name3 {
    text-align: center;
    padding-bottom: 50px;
}

.work-list {
    display: flex;
    margin-bottom: 94px;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heder-color);
}

/*-----------наша команда-----------*/
.our-teams {
    text-align: center;
    margin-bottom: 50px;
}

.teams {
    background: #F5F4FA;
    padding-bottom: 0px;
}

.teams-item {
    margin-right: 30px;
}



.teams-list {
    display: flex;
    background: #FFFFFF;
}

.teams-list .our-teams {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heder-color);
}

.teams-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heder-color);
}

.teams-team-profesion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.teams .teams-item {
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-radius: 0px 0px 5px 5px;
    border-color: #ECECEC;
}

/*-----------------подвал-----------*/
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.studio1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}



.footer-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-addres-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.footer-mail:hover,
.footer-tel:hover,
.footer-addres-name:hover {
    color: #2196F3;
}

/*-----------портфолио кнопки------*/
.example {
    padding-top: 95px;
    padding-bottom: 95px;
}

.examples-list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.examples-item-btn:not(:last-child) {
    margin-right: 8px;
}


.link-example-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.link-example-btn:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    background: #2196F3;
}

.link-example-btn:focus {
    background: #2196F3;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    margin: -15px;
}

.examples-item {

    width: calc(100% / 3 - 30px);
    margin: 15px;
}

.project-type {
    text-align: center;
    margin-top: 10px;

}

.direction {
    text-align: center;
    margin-top: 10px;
}

.visually {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container .examples-item {
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-radius: 0px 0px 5px 5px;
    border-color: #ECECEC;
}

.project-type {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.direction {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: #757575;
}